* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100%;
    background-image: url(nnnoise.svg);
    background-size: cover;
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-attachment: fixed; /* Optionally, prevent scrolling */
    box-sizing: border-box;
}

.blob-container {
    margin: 0;
    padding: 0;
    background-color: aqua;
    position: relative;
}

#blob {
    z-index: 1;
    /* background-color: aqua; */
    position: absolute;
    top: -500px;
    left: 800px;
    pointer-events: none;
    /* Add any other styling you want for the blob */
}

.header {
    z-index: 4;
    /* background-color: aqua; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.5px);
    border-bottom: 2px solid rgb(255, 255, 255, 0.3);
}

.navbar {
    width: 20%;
    /* background-color: aquamarine; */
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.navbar a:hover {
    font-size: 25px;
}

.container {
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    margin-top: 400px;
}

.container .namecard {
    margin-left: 300px;
    color: white;
    width: 30%;
    z-index: 2;
    /* background-color: aqua; */
}

.container .namecard h1{
    /* background-color: black; */
    font-size: 40px;
    width: 404px;
    background-color: #6755F2;
}

.container .namecard p{
    margin-top: 15px;
}

.container .socialmedia {
    z-index: 3;
    width: 30%;
    height:155px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}


.container .socialmedia .buttonlinks{
    background: none;
    width: 70%;
    /* background-color: aquamarine; */
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.container .socialmedia .buttonlinks button{
    background: none;
    /* background-color: aquamarine; */
    border: 0;
    cursor: pointer;
}

.container .socialmedia .buttonlinks img{
    width: 80px;
    height: 80px;
    transition: .3s;
}

.container .socialmedia .buttonlinks img:hover{
    width: 100px;
    height: 100px;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {

    .main {
        width: 100%;
    }

    .blob-container {
        margin: 0;
        padding: 0;
        background-color: aqua;
        position: relative;
    }

    #blob {
        z-index: 1;
        /* background-color: aqua; */
        position: absolute;
        top: -200px;
        left: -100px;
        pointer-events: none;
        /* Add any other styling you want for the blob */
        width: 400px;
        height: auto;
    }
    .header {
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
    }

    .header .navbar{
        width: 80%;
        /* background-color: #6755F2; */
        justify-content: space-evenly;
    }

    .header .navbar a{
        font-size: 15px;
    }

    .navbar a:hover {
    font-size: 0px;
    }

    .container {
        /* background-color: aquamarine; */
        flex-direction: column;
        align-items: center;
        margin-top: 250px;
    }

    .container .namecard {
        /* background-color: rgb(43, 43, 43);         */
        margin-left: 0;
        width: 80%;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .container .namecard h2{
        /* background-color: rgb(199, 65, 65);         */
        margin-left: 0;
        font-size: 20px;
        text-align: center;
        /* background-color: #6755F2; */
    }  

    .container .namecard h1{
        /* background-color: rgb(199, 65, 65);         */
        margin-left: 0;
        font-size: 30px;
        text-align: center;
        background-color: #6755F2;
        width: 320px;
    }    

    .container .namecard p{
        /* background-color: rgb(163, 94, 94);         */
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        font-size: 15px;
    }

    .container .socialmedia {
        /* background-color: rgb(9, 51, 37);         */
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 80%;
        margin-top: 150px;
    }

    .container .socialmedia .footer {
        /* background-color: #6755F2; */
    }

    .container .socialmedia .footer h1{
        /* background-color: rgb(9, 51, 37);         */
        color: white;
        font-size: 20px;
    }

    .container .socialmedia .buttonlinks {
        margin-top: 30px;
        /* background-color: rgb(9, 51, 37); */
    }    

    .container .socialmedia .buttonlinks button{
        /* background-color: rgb(36, 189, 138); */
    }
    
    .container .socialmedia .buttonlinks img{
    width: 45px;
    height: 45px;
    }

    .container .socialmedia .buttonlinks img:hover{
    width: 45px;
    height: 45px;
    }
}
