* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #e90064;
}

body::-webkit-scrollbar-thumb {
  background-color: #e90064;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.container::-webkit-scrollbar {
  width: 0.2em;
  background-color: transparent;
}

section h1 {
  color: white;
  font-size: 60px;
}

#one {
  background-color: #e90064;
}

#two {
  background-color: white;
}

#two h1 {
  font-size: 60px;
  color: #e90064;
  text-align: justify;
}

#three {
  background-color: #e90064;
}

/* #three h1 span {
  width: 900px;
  font-size: 50px;
  color: #ff006f;
  text-align: right;
  margin-right: -50vh;
  margin-top: 60vh;
} */

#four {
  background-color: white;
}

#four h1 {
  color: #e90064;
}

#five {
  background-color: #e90064;
}

#six {
  background-color: white;
}

#six h1 {
  color: #e90064;
}

#seven {
  background-color: #e90064;
}

#eight {
  background-color: white;
}

#eight h1 {
  color: #e90064;
}

#nine {
  background-color: #e90064;
}

#nine h1 {
  width: 900px;
  font-size: 30px;
  color: white;
  text-align: justify;
}

#ten h1 {
  margin-top: 50vh;
  margin-right: -40vh;
  width: 1000px;
  color: #e90064;
  text-align: right;
}

#ten h1 span {
  width: 1000px;
  color: #e90064;
  text-align: right;
  border: 3px solid #e90064;
  border-radius: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

#eleven {
  background-color: #e90064;
}

#twelve {
  background-color: white;
}

#twelve h1 {
  color: #e90064;
  font-size: 40px;
}

#thirteen {
  display: grid;
  background-color: #e90064;
  justify-items: center;
}

#thirteen img {
  width: 400px;
}

#thirteen img:hover {
  width: 800px;
}

button {
  padding: 10px;
  color: #e90064;
  font-size: 30px;
  height: 60px;
  width: 200px;
  border: 0;
  border-radius: 15px;
  border: 2px solid #e90064;
  cursor: pointer;
  animation: fadeIn 5s forwards;
}

button:hover {
  padding: 10px;
  color: white;
  background-color: #e90064;
  font-size: 30px;
  height: 60px;
  width: 200px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
}
